{{> layout/header}}
{{> layout/navbar}}
<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">

        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h3 class="pt-md-5 pb-md-5">{{name}}</h3>
                </div>
                {{#team}}
                <img class="card-img-top" src="{{pokemonType.sprites.front_default}}" alt="Pokemon"/>
                <h5>  <span class="badge badge-secondary">Lvl {{level}} <!--3--></span></h5>
                <div >
                    <p class="my-0 font-weight-normal"> <b>Type</b> :
                        {{#pokemonType.types}}
                        {{.}}
                        {{/pokemonType.types}}
                    </p>
                </div>
                {{/team}}
            </div>
        </div>

    </div>

</div>

</body>
</html>